/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
section {
  margin-bottom: 20px;
}
/*********************** HEADER ***************************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo img {
  height: 19px;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 68px;
  overflow: hidden;
}
nav li a {
  border-top: 2px solid transparent;
  padding: 14px;
}

nav li a:hover {
  color: var(--main-color);
  border-top-color: var(--main-color);
}
/***************************** searchContainer **************************/
#searchContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/***** searchBar *********/
#searchBar {
  display: inline-flex;
  justify-content: space-between;
  overflow: hidden;
  width: 377px;
}
#searchLogo {
  padding: 15px;
  background: var(--main-bg-color);
  width: 22px;
  border-radius: 15px 0 0 15px;
}
.fa-location-dot {
  color: black;
}
#searchBar input {
  width: 100%;
  border-radius: 0;
  border: none;
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
#searchText {
  background: var(--main-color);
  border: none;
  color: var(--filter-bg-color);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}
#searchItem {
  display: none;
}
/***** searchFiltre *********/
#searchTitle h2 {
  font-size: 22px;
  margin: 0;
}
#searchTitle p {
  margin: 0;
  margin-top: 5px;
}
#searchfitre {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 8px;
}
#searchfitre p {
  font-size: 18px;
  margin: 0;
}
#searchfitre button {
  border-radius: 40px;
  height: 50px;
  border: 2px solid var(--main-bg-color);
  background: white;
  font-weight: bold;
  font-size: 17px;
  padding: 4px 19px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.filterBtn,
.filters-list {
  display: flex;
  gap: 15px;
}
.filters-list {
  flex-wrap: wrap;
}
#searchfitre .fa-solid {
  margin-right: 8px;
  font-size: 20px;
}
#searchfitre button:hover {
  background: #dbf0ff;
}
/***** searchInfo *********/
#searchInfo p {
  margin: 0;
}
#searchInfo i {
  margin-right: 7px;
}
.fa-info {
  border: 1px solid gainsboro;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  background: var(--main-bg-color);
}
.hebergements h2 {
  font-size: 22px;
  margin: 0;
}
.hebergements h3 {
  margin: 10px 0 0 0;
}
.hebergements p {
  margin: 10px 0;
}
.hebergements .card img {
  width: 100%;
  height: 102px;
  border-radius: 20px 20px 0 0;
}
.hebergementsCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hebergementsCards a {
  margin-top: 33px;
  width: 30%;
}
.btnPlus {
  border: none;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
  background: transparent;
}
/****** Populaires ***********/
.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.populaires {
  width: 32%;
  background: var(--main-bg-color);
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/* **********Activity ***************/
.activityContainer {
  padding: 30px;
}

.activityTitle h2 {
  margin-bottom: 20px;
}
.activityCards {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.activityCards a {
  display: block;
  width: 23%;
  text-decoration: none;
  color: inherit;
}
.activityCards .card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.activityCards img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}
.activityCards .card-content {
  padding-left: 20px;
  height: 70px;
  display: flex;
  align-items: center;
}
/* *****************footer*************** */
footer {
  display: flex;
  gap: 30px;
  background: var(--main-bg-color);
  overflow: hidden;
}
footer h4 {
  margin: 0;
  font-size: 18px;
}
footer div {
  padding: 20px;
  width: 30%;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1193px) {
  #searchfitre {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .activityCards img {
    height: 200px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    margin: 0;
    margin-top: 30px;
  }
  section {
    padding: 20px;
  }
  .main-container {
    gap: 0;
    padding: 0;
  }
  main {
    padding: 0;
  }
  nav {
    flex-direction: column;
  }
  nav .menu {
    margin-top: 0;
  }
  nav ul {
    width: 100%;
    gap: 0;
    border-bottom: 1px solid var(--filter-bg-color);
    padding: 0;
    justify-content: space-between;
  }
  nav li {
    padding: 40px;
  }
  ul li:hover {
    border-bottom: 2px solid var(--main-color);
  }
  nav li a:hover {
    border-top-color: transparent;
  }
  .filterBtn {
    width: 100%;
  }
  #searchBar {
    width: 100%;
  }
  #searchfitre button {
    font-size: 14px;
  }
  #searchfitre {
    margin-bottom: 0;
  }
  .filterBtn button {
    width: 100%;
  }
  .hebergements {
    background: white;
  }
  .hebergements h2 {
    margin-bottom: 30px;
  }
  .btnPlus {
    font-size: 18px;
  }
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }
  .populaires {
    border-radius: 0 !important;
  }
  .populaires-cards {
    display: block;
  }
  .hebergementsCards {
    display: block;
  }
  .hebergements .card {
    margin-top: 20px;
  }
  .hebergements .card img {
    margin-right: 10px;
  }
  #searchText {
    display: none;
  }
  #searchItem {
    background: var(--main-color);
    border: none;
    color: var(--filter-bg-color);
    cursor: pointer;
    border-radius: 15px;
    display: block;
    width: 55px;
  }
  .activityCards {
    flex-direction: column;
    width: 100%;
  }
  .activityCards a {
    width: 100%;
  }
  footer {
    display: block;
  }
  footer div {
    width: 100%;
  }
}
